<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${product.name} + ' - Power of Wear'">Product Detail</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>

    <!-- Navbar -->
    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <!-- Product Detail Section -->
    <section class="py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="row gx-4 gx-lg-5 align-items-center">
                <div class="col-md-6">
                    <img class="card-img-top mb-5 mb-md-0" th:src="${product.firstImageUrl}" alt="..." />
                </div>
                <div class="col-md-6">
                    <div class="small mb-1" th:text="'SKU: ' + ${product.id}">SKU: BST-498</div>
                    <h1 class="display-5 fw-bolder" th:text="${product.name}">Shop item template</h1>
                    <div class="fs-5 mb-5">
                        <!-- <span class="text-decoration-line-through">$45.00</span> -->
                        <span th:text="${product.price.price} + ' ' + ${product.price.currency}">$40.00</span>
                    </div>

                    <div class="d-flex">
                        <label for="inputQuantity">
                            <input class="form-control text-center me-3" id="inputQuantity" type="number" value="1" style="max-width: 3rem" />
                        </label>
                        <button class="btn btn-outline-dark flex-shrink-0" type="button">
                            <i class="bi-cart-fill me-1"></i>
                            Add to cart
                        </button>
                         <form th:action="@{/wishlist/add}" method="post" class="ms-3">
                            <input type="hidden" name="productId" th:value="${product.id}">
                             <button class="btn btn-outline-danger flex-shrink-0" type="submit">
                                <i class="far fa-heart me-1"></i>
                                Add to Wishlist
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Power of Wear 2025</p></div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>